<!DOCTYPE html>
<html style="height:100%">
  <head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body style="
  padding-top:50px;
  color:#eaeaea;
  background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    color-stop(0, #1DC2A1),
    color-stop(1, #ED499B)
  );
  background-image: -o-linear-gradient(left top, #1DC2A1 0%, #ED499B 100%);
  background-image: -moz-linear-gradient(left top, #1DC2A1 0%, #ED499B 100%);
  background-image: -webkit-linear-gradient(left top, #1DC2A1 0%, #ED499B 100%);
  background-image: -ms-linear-gradient(left top, #1DC2A1 0%, #ED499B 100%);
  background-image: linear-gradient(to left top, #1DC2A1 0%, #ED499B 100%);">

    <div class="container">
      <div class="text-center">
     <img src="provo_yacht_club2.png" style="width:40%"> <br /><br/></div>

      <% if flash[:loginerror] %>
        <div class="row">
         <div class="alert alert-danger col-lg-4 col-lg-offset-4">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span class="glyphicon glyphicon-remove"></span> Check your username and password and try again.
         </div>
        </div>

      <% elsif flash[:not_admin] %>
        <div class="row">
         <div class="alert alert-warning col-lg-4 col-lg-offset-4">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span class="glyphicon glyphicon-warning-sign"></span> <strong>Admins Only!</strong><br /> Are you sure you're supposed to be here?
         </div>
        </div>

      <% end %>

        <div class="col-lg-4 col-lg-offset-4">
              <form method="post" action="/login">
                <fieldset>

                  <div class="form-group">
                    <label class="control-label">Email Address</label>
                    <div>
                      <input type="text" class="form-control" name="email">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label">Password</label>
                    <div>
                      <input type="password" class="form-control" name="password">
                    </div>
                  </div><br/>

                  <div class="form-group">
                    <div>
                      <button type="submit" class="btn btn-info btn-block">Log-In</button>
                    </div>
                  </div>

                </fieldset>
              </form>
            </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>



