<div style="padding-top:55px">
	<div class="container">

		<h1 style="color:#2FB59A;font-size:65px">About Us<small class="pull-right" style="font-weight:100;color:#EB4196">Provo Yacht Club</small><h1> 		
<br />

	</div>
</div>