<div style="padding-top:55px">
	<div class="container">

		<div class="row">
			<div class="col-xs-8">
				<h1 style="color:#2FB59A;font-size:65px">The Blog</h1>
			</div>

			<div class="col-xs-4 text-center">
				<h1 style="font-size:65px;"><small style="font-weight:100;color:#EB4196">Provo Yacht Club</small></h1>

				<div class="row"><div class="col-md-12"><div align="center">
		          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		          <!-- Right Side -->
		          <ins class="adsbygoogle"
		               style="display:inline-block;width:300px;height:600px;margin-left:auto;margin-right:auto"
		               data-ad-client="ca-pub-7928191738919617"
		               data-ad-slot="4372546484"></ins>
		          <script>
		          (adsbygoogle = window.adsbygoogle || []).push({});
		          </script>
		        </div></div></div>

		        
			</div>

		</div>

	</div>
</div>