
<div id="forRemove">

	<h1>Manage Features</h1>

	<div class="row">
		<div class="col-md-2">
			<a data-toggle="modal" href="#NewFeature" class="btn btn-success btn-lg btn-block">New Feature</a>
		</div>
	</div>

	<br />

	     <table id="feat-table" class="table table-hover" data-batch="1" data-individual="0">
	      <thead>
		      <tr>
		        <th style="width:55px">Edit &nbsp;</th>
		        <th style="width:55px">Erase</th>
		        <th>Feature Title</th>
		        <th class="hidden-sm hidden-xs">Type</th>
		        <th class="hidden-sm hidden-xs">Date Posted</th>
		        <th class="text-center">Active</th>
		      </tr>
		  </thead>
		  <tbody>
	      	<%= erb :manage_feat_table %>
	      </tbody>

	     </table>

	<div class="row">
		<div class="col-md-2">
	     	<a href="#" id="loadMoreFeat" class="btn btn-primary btn-lg btn-block">Load More Posts</a>
	 	</div>
	</div>
</div>