<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manage Posts</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body style="margin-top: 20px">

    <div class="container">

      <div class="row">
        <div class="col-lg-offset-3 col-lg-6" style="margin-top:20px">
        <!-- Alerts -->
            <% if flash[:postSuccess]%>
                <div class="alert alert-success fade in">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <span class="glyphicon glyphicon-ok"></span>  <strong>Success!</strong> Your post was saved.
                </div>
            <% elsif flash[:deleteSuccess]%>
                <div class="alert alert-success fade in">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <span class="glyphicon glyphicon-ok"></span>  <strong>Now you've done it...</strong> Your post was deleted.
                </div>
            <% elsif flash[:editSuccess]%>
                <div class="alert alert-success fade in">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <span class="glyphicon glyphicon-ok"></span>  <strong>Success!</strong> Your post was edited.
                </div>
            <% elsif flash[:postError] || flash[:deleteError] || flash[:editError]%>
                <div class="alert alert-danger fade in">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <span class="glyphicon glyphicon-remove"></span>  <strong>Oops.</strong> Something went wrong. Try again.
                </div>
            <% else %>
            <% end %>
        </div>
      </div>

     <div class="row"><h1 class="col-md-10">Manage Posts</h1>
     <a href="/"><button class="btn btn-lg btn-warning col-md-2 pull-right" style="margin-top:20px">Home!</button></a></div>
     <br/>
     <h3>Submit a New Post</h3>
     <a data-toggle="modal" href="#NewPost"><button class="btn btn-lg btn-primary col-md-2">New Post!</button></a>

     <br/><br/><br/>

<!-- Modal For New Posts -->

          <div class="modal fade" id="NewPost">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Submit a New Post</h4>
                  </div>
                  <div class="modal-body">
                        <form method="post">
                          <fieldset>

                            <label for="Song-Title">Song Title</label>
                            <input type="text" class="form-control" placeholder="What You Won't Do For Love" name="Song-Title"><br />

                            <label for="Artist">Artist</label>
                            <input type="text" class="form-control" placeholder="Bobby Caldwell" name="Artist"><br />

                            <label for="Album">Album</label>
                            <input type="text" class="form-control" placeholder="Yacht Rock:'70s Soft Rock hits" name="Album"><br />


                            <label for="Description">Post Description</label>
                            <textarea class="form-control postcontent" rows="4" placeholder="Put all your witty jargon here..." name="Description"></textarea><br/>
                            
                            <label for="Media">Embedded Media</label>

                            <div class="radio">
                              <label>
                                <input type="radio" id="soundcloudRadio" name="Source" id="optionsRadios1" value="Soundcloud" checked>
                                Soundcloud
                              </label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" id="spotifyRadio" name="Source" id="optionsRadios2" value="spotify">
                                Spotify
                              </label>
                            </div><br/>

                            <label>Media Link (Soundcloud)</label>
                            <input type="text" class="form-control" id="SoundcloudInput" placeholder="https://api.soundcloud.com/tracks/136749579" name="Media1"><br />
                            <label>Media Link (Spotify)</label>
                            <input type="text" disabled class="form-control" id="SpotifyInput" placeholder="spotify:track:0bsdLG0Z1TedLfJGKPpv64" name="Media"><br />


                            <label for="AlbumArt">Album Art</label>
                            <input type="text" class="form-control" placeholder="http://a3.mzstatic.com/us/r30/Music/13/d6/d1/mzi.qqcypfvi.170x170-75.jpg" name="AlbumArt"><br />

                            <div class="row">
                              <div class="col-md-6">
                                <label for="tag">Tag</label>
                                <select class="form-control" name="tag">
                                  <option></option>
                                  <option>Dance</option>
                                  <option>Chill</option>
                                  <option>Revival</option>
                                  <option>Big Beats</option>
                                  <option>Etc.</option>
                                </select>
                              </div>

                              <div class="col-md-6">
                                <label for="tag2">Tag 2 (Optional)</label>
                                <select class="form-control col-md-6" name="tag2">
                                  <option></option>
                                  <option>Dance</option>
                                  <option>Chill</option>
                                  <option>Revival</option>
                                  <option>Big Beats</option>
                                  <option>Etc.</option>
                                </select>
                              </div>
                            </div><br />

                            <label for="Author">Post Author (Your name, stupid)</label>
                            <input type="text" class="form-control" placeholder="Michael Jordan" name="Author"><br />

                          <div class="pull-right">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" formaction="/NewPost/publish" class="btn btn-success">Publish</button>
                          <button type="submit" formaction="/NewPost/save" class="btn btn-warning">Save</button>
                          </div>

                        </fieldset>
                      </form>

                  </div>
                  <div class="modal-footer">

                  </div>
                </div><!-- modal-content -->
              </div><!-- modal-dialog -->
            </div><!-- modal -->

<!-- For Editing & Deleting-->

  <h3>Edit or Delete Past Posts</h3>
     <table id="posts-table" class="table table-hover" data-batch="1">
      <tr>
        <th></th>
        <th></th>
        <th>Song Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Date Posted</th>
        <th>Author</th>
        <th class="text-center">Published</th>
      </tr>

      <%= erb :manage_table %>

     </table>

      <a href="#" id="loadMore" style="text-decoration:none"><button class="btn btn-danger btn-block btn-sm" style="font-size:13px">Load more results...</button></a>

     <div class="modal fade" id="edit-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Edit a New Post</h4>
          </div>
          <div class="modal-body"></div>
        </div>
      </div>
    </div>

    <!-- Modal for delete confirmation -->
  <div class="modal fade" id="delete-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Delete Entry</h4>
        </div>
        <div class="modal-delete-content"></div>
        </div>
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->





   </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">

      var deleteModal = $('#delete-modal');
      $("#posts-table").on('click', '.delete', function (event) {
        $.get(this.href, function (result) {
          deleteModal.find('.modal-delete-content').html(result);
          deleteModal.modal();
        });
        event.preventDefault();
      });

      var editModal = $('#edit-modal');
      $("#posts-table").on('click', '.edit', function (event) {
        $.get(this.href, function (result) {
          editModal.find('.modal-body').html(result);
          editModal.modal();
        });
        event.preventDefault();
      });
      
      function WireUpContent () {
        $('span').tooltip();
        $(".alert").alert();
      };
      
      WireUpContent();

      $('#loadMore').click(function() {
        var table = $("#posts-table");
        var batch = parseInt(table.attr('data-batch'));
        $.get('/Manager/moreResults/' + batch, function(data){
          table.find('tbody').append(data);
          table.attr('data-batch', batch+1);
          WireUpContent();
        }).fadeIn();
      });

      $('#soundcloudRadio').click(function() { 
          $("#SpotifyInput").prop("disabled",true);
          $("#SoundcloudInput").prop("disabled",false);
      });

      $('#spotifyRadio').click(function() { 
          $("#SoundcloudInput").prop("disabled",true);
          $("#SpotifyInput").prop("disabled",false);
      });


    </script>

  </body>
</html>
