<div class="modal-body">
  Are you sure you want to delete the post about <b><%= @song.title %></b>? This cannot be undone!
</div>
<div class="modal-footer">

  <button class="btn btn-default" data-dismiss="modal">Close</button>
  <a class="btn btn-danger" id="deletePost" data-dismiss="modal" href="/delete/<%= @song.id %>">Delete</a>

  <script type="text/javascript">
  	$('#deletePost').click(function() {
  		var table = $("#posts-table");
  		var count = parseInt(table.attr('data-individual'));
 	 		$.get('/delete/<%= @song.id %>');
 	 		table.attr('data-individual', count-1);
 	 		$('#<%= @song.id %>').show().delay(300).fadeOut(800);
   	});

  </script>
</div>

