
        <div class="modal-body">
          Are you sure you want to delete the post about <%= @post['Song-Title']%>? This cannot be undone!
        </div>
        <div class="modal-footer">
          <form method="get" action="/delete/<%= @post['_id'] %>">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>