<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Provo Yacht Club Backend</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/manager.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- "Greeting" Area -->
      <div class="container-fluid" id="greeting">

        <!-- Header Text -->
          <h1 class="text-center">Welcome<br/><p class="lead">What Are We Doing Today?</p></h1>

        <!-- Buttons -->
          <div class="row"><div class="col-md-4 col-md-offset-4">
            <a data-toggle="modal" id="PostFromGreeting" href="#NewPost" class="btn btn-primary btn-lg btn-block">New Post</a>
            <a href="#" id="GoToPostManager" class="btn btn-info btn-lg btn-block">Manage Posts</a>
            <a href="#" id="GoToUserManager" class="btn btn-success btn-lg btn-block">Manage Users</a>
            <a href="/" class="btn btn-warning btn-lg btn-block">Go to the Home Page</a>
            <a href="/logout" class="btn btn-danger btn-lg btn-block">Log Out</a>

          </div></div>
      </div><!-- Container -->


    <!-- Frame for Page -->
      <div id="frame" style="display:none">
        <!-- Navbar -->
          <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" id="BrandLink">Provo Yacht Club Manager</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li id="PostNav"><a href="#" id="PostFromUser">Posts</a></li>
                  <li id="userNav"><a href="#" id="userFromPost">Users</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>

        <!-- "Body" -->
          <div class="container-fluid">

            <!-- Post Manager -->
            <div id="PostManager"></div>

            <!-- Feature Manager -->
            <div id="FeatureManager"></div>

            <!-- User Manager -->
            <div id="UserManager"></div>

          </div><!-- Closes out the Body container -->
      </div> <!-- Closes out the frame -->


    <!-- Modals 4 Dayz -->

      <!-- Modal for New Posts -->
          <div class="modal fade" id="NewPost">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Submit a New Post</h4>
                </div>
                  <div class="modal-body">
                        <form method="post" id="newpost">
                          <fieldset>

                            <label for="soundcloud_url">Soundcloud URL </label> 
                            <a class="btn btn-xs btn-info" id="autocomplete" style="display:none">Autocomplete Album Artwork and Song Name</a>
                            <input type="text" class="form-control" placeholder="http://www.soundcloud.com/kygo/m83-wait-kygo-remix" id="soundcloud_url" name="soundcloud_url"><br />

                            <label for="title">Song Title</label>
                            <input type="text" class="form-control" placeholder="What You Won't Do For Love" name="title" id="title"><br />

                            <label for="artist">Artist</label>
                            <input type="text" class="form-control" placeholder="Bobby Caldwell" name="artist" id="artist"><br />

                            <label for="album">Album</label>
                            <input type="text" class="form-control" placeholder="Yacht Rock:'70s Soft Rock hits" name="album"><br />

                            <label for="album_art">Album Art</label>
                            <input type="text" class="form-control" placeholder="http://a3.mzstatic.com/us/r30/Music/13/d6/d1/mzi.qqcypfvi.170x170-75.jpg" name="album_art" id="albumArt"><br />

                            <div class="row">
                              <div class="col-md-6">
                                <label for="tag_1">Tag</label>
                                <select class="form-control" name="tag_1">
                                  <option></option>
                                  <option>Dance</option>
                                  <option>Chill</option>
                                  <option>Revival</option>
                                  <option>Big Beats</option>
                                  <option>Folk</option>
                                  <option>Etc.</option>
                                </select>
                              </div>

                              <div class="col-md-6">
                                <label for="tag_2">Tag 2 (Optional)</label>
                                <select class="form-control col-md-6" name="tag_2">
                                  <option></option>
                                  <option>Dance</option>
                                  <option>Chill</option>
                                  <option>Revival</option>
                                  <option>Big Beats</option>
                                  <option>Folk</option>
                                  <option>Etc.</option>
                                </select>
                              </div>
                            </div><br />
                            
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" name="is_local" value="true"> Is this a local artist?
                              </label>
                            </div>

                            <label for="author">Author</label>
                            <input type="text" class="form-control" placeholder="Michael Jordan" name="author" value=""><br />

                            <div class="checkbox">
                              <label>
                                <input type="checkbox" id="blogPost" name="has_blog_post" value="true"> Is this a blog post?
                              </label>
                            </div>

                            <div class="blog-guts" style="display:none;">
                              <label for="blog_title">Blog Post Title</label>
                              <input type="text" class="form-control" name="blog_title" value=""><br/>

                              <label for="description" id="postLabel">Blog Post Content</label>
                              <textarea class="form-control postcontent" rows="4" placeholder="Put all your witty jargon here..." name="blog_post" minlength="1" id="postContent"></textarea>
                            </div>

                        </fieldset>
                      </form>

                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="saveNew" class="btn btn-warning" data-dismiss="modal">Save</button>
                    <button id="publishNew" class="btn btn-success" data-dismiss="modal">Publish</button>
                  </div>
                </div><!-- modal-content -->
              </div><!-- modal-dialog -->
          </div><!-- modal -->

      <!-- Edit Modal for Posts -->
           <div class="modal fade" id="edit-modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Edit Entry</h4>
                </div>
                <div class="modal-edit-content"></div>
              </div>
             </div>
            </div>

      <!-- Delete Modal -->
        <div class="modal fade" id="delete-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Entry</h4>
              </div>
              <div class="modal-delete-content"></div>
              </div>
            </div><!-- modal-content -->
          </div><!-- modal-dialog -->
        </div><!-- modal -->


    <!-- jQuery and Bootstrap Links -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
    <!-- soundcloud -->
      <script src="http://connect.soundcloud.com/sdk.js"></script>
    <!-- Form Validation -->
      <script type="text/javascript" src="bootstrapvalidator/dist/js/bootstrapValidator.min.js"></script>


    <!-- My stuff -->
    <script type="text/javascript" src="js/manager.js"></script>


  </body>

</html>
