<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Provo Yacht Club | New Post</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="new-post-box col-md-7">
          <p class="lead">Submit a New Post</p><br />

          <form method="post" action="/NewPost">
            <fieldset>

              <label for="Song-Title">Song Title</label>
              <input type="text" class="form-control" placeholder="What You Won't Do For Love" name="Song-Title"><br />

              <label for="Artist">Artist</label>
              <input type="text" class="form-control" placeholder="Bobby Caldwell" name="Artist"><br />

              <label for="Album">Album</label>
              <input type="text" class="form-control" placeholder="Yacht Rock:'70s Soft Rock hits" name="Album"><br />

              <label for="Description">Post Description</label>
              <textarea class="form-control" rows="3" placeholder="Put all your witty jargon here..." name="Description"></textarea><br />

              <label for="Media">Embed Code (Spotify URI, etc.)</label>
              <input type="text" class="form-control" placeholder="spotify:track:0bsdLG0Z1TedLfJGKPpv64" name="Media"><br />

              <label for="AlbumArt">Album Art</label>
              <input type="text" class="form-control" placeholder="http://a3.mzstatic.com/us/r30/Music/13/d6/d1/mzi.qqcypfvi.170x170-75.jpg" name="AlbumArt"><br />

              <label for="Author">Post Author (Your name, stupid)</label>
              <input type="text" class="form-control" placeholder="Michael Jordan" name="Author"><br />

              <button type="reset" class="btn btn-red col-md-3 pull-right">Clear Form</button><button type="submit" class="btn btn-blue col-md-3 pull-right">Submit Post</button><br /><br /><br />


            </fieldset>
          </form>

        </div>
      </div>
    </div><br /><br />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>