
<div id="forRemove">

	<h1>Manage Posts</h1>

	<div class="row">
		<div class="col-md-2">
			<a data-toggle="modal" href="#NewPost" class="btn btn-success btn-lg btn-block">New Post</a>
		</div>
	</div>

	<br />

	     <table id="posts-table" class="table table-hover" data-batch="1" data-individual="0">
	     	<thead>
		      <tr>
		        <th>Edit</th>
		        <th>Erase</th>
		        <th>Song Title</th>
		        <th class="hidden-sm hidden-xs">Artist</th>
		        <th class="hidden-sm hidden-xs">Album</th>
		        <th class="hidden-sm hidden-xs">Date Posted</th>
		        <th class="hidden-sm hidden-xs">Author</th>
		        <th class="text-center">Published</th>
		      </tr>
		    </thead>
		    <tbody>
	      		<%= erb :manage_table %>
	      	</tbody>

	     </table>

	<div class="row">
		<div class="col-md-2">
	     	<a href="#" id="loadMore" class="btn btn-primary btn-lg btn-block">Load More Posts</a>
	 	</div>
	</div>


	<script type="text/javascript">



	 // AJAX to load more posts
	      $('#loadMore').click(function() {
	        var table = $("#posts-table");
	        var batch = parseInt(table.attr('data-batch'));
	        var individual = parseInt(table.attr('data-individual'));
	        var tableBody = table.find('tbody');
	        $.get('/Manager/moreResults/' + ((batch*5) + individual), function(data){
	          $(data).hide().appendTo(tableBody).fadeIn(400);
	          table.attr('data-batch', batch+1);
	        });
	      });

     // AJAX for New Published Posts
	     $("#publishNew").click(function() {
		      var table = $("#posts-table");
		      var tableBody = table.find('tbody');
		      var count = parseInt(table.attr('data-individual'));
		      $.post('/NewPost/publish');
		      $.get('/AddRefresh', function(data){
		        $(data).hide().prependTo(tableBody).fadeIn(500);
		      });
		      table.attr('data-individual', count+1)
	     });

	 // AJAX for New Save Posts
	   	 $("#saveNew").click(function() {
	   	 	var table = $("#posts-table");
	   	 	var tableBody = table.find('tbody');
	   	 	$.post('/NewPost/save');
	   	 	$.get('/AddRefresh', function(data){
	   	 		$(data).hide().prependTo(tableBody).fadeIn(500);
	   	 	});
	   	 	$.get('/StatusAlert', function(data){
	   	 		$(data).appendTo('#Status');
	   	 	});
	   	 });

	 // AJAX for Deleting Posts is in manager_delete_confirm.erb

	</script>

</div>

