<!DOCTYPE html>
<html>
  <head>
    <title>Administrative Rights Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body>

    <p><%= session["user_id"] %></p>

    <p>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>



