html{
	height:100%;
}
body {
	padding-top:6%;
	background-image: -webkit-gradient(
		linear,
		right bottom,
		left top,
		color-stop(0, #1DC2A1),
		color-stop(1, #ED499B)
	);
	background-image: -o-linear-gradient(left top, #1DC2A1 0%, #ED499B 100%);
	background-image: -moz-linear-gradient(left top, #1DC2A1 0%, #ED499B 100%);
	background-image: -webkit-linear-gradient(left top, #1DC2A1 0%, #ED499B 100%);
	background-image: -ms-linear-gradient(left top, #1DC2A1 0%, #ED499B 100%);
	background-image: linear-gradient(to left top, #1DC2A1 0%, #ED499B 100%);
	background-repeat: none;
}
.container{
	width: 1024px !important;
}
.logo{
	max-width: 600px;
}
/* Styles for Sly Slider */
.song-selector{
	position:fixed;
	bottom:0;
	left:0;
}
#frame {
	width:100%;
	height:175px;
	padding-left:0;
}
#slidee {
	margin: 0;
	padding: 0;
	height: 100%;
	list-style: none;
}
#frame #slidee li {
	float: left;
	padding: 0;
	width: 175px;
	height: 100%;
	border: 0px solid #ED499B;
	-webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    overflow:hidden;
}

#frame #slidee li.active{
	border: 5px solid gold;
}

#frame #slidee li img{
	width:100%;
	height:100%;
}

.scrollbar { 
	width: 100%; 
	height: 12px;
	background: #222; 
}
.scrollbar .handle {
    width: 100px; /* overriden if dynamicHandle: 1 */
    height: 100%;
    background: rgba(255,255,255,.5);
    border-radius: 50px;
}
