<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Provo Yacht Club | Great Music Daily, Featuring Provo's Finest Artists</title>
  <meta name="description" content="Provo Yacht Club is a music blog based in Provo, Utah, delivering the world's hottest tracks daily.">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <script type="text/javascript" src="js/analytics.js"></script>
</head>
<body>

  <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <img src="logo.png" alt="" class="img-responsive center-block logo">
            <p class="lead text-center">Click a Thumbnail to Start Playing</p>
            <p class="lead text-center" id="title"> replace </p>
          </div>
        </div>
      </div>
  </section>

  <section class="song-selector">
    <div class="scrollbar">
        <div class="handle"></div>
    </div>
    <div id="frame">
      <ul id="slidee">
        
      <% @songs.each do |song| %>
        <li data-url="<%= song.soundcloud_url %>">
          <img src="<%= song.album_art %>">

        </li>
      <% end %>

      </ul>
    </div>
  </section>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="//connect.soundcloud.com/sdk-2.0.0.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/Sly/1.2.1/sly.min.js"></script>
  <script type="text/javascript" src="js/front.js"></script>

</body>
</html>

