html{
	height:100%;
}

.container{
	width:85%;
	max-width: 1280px !important;
}

body {
	padding-top:60px;
	background-image: -webkit-gradient(
		linear,
		right bottom,
		left top,
		color-stop(0, #1DC2A1),
		color-stop(1, #ED499B)
	);
	background-image: -o-linear-gradient(left top, #1DC2A1 0%, #ED499B 100%);
	background-image: -moz-linear-gradient(left top, #1DC2A1 0%, #ED499B 100%);
	background-image: -webkit-linear-gradient(left top, #1DC2A1 0%, #ED499B 100%);
	background-image: -ms-linear-gradient(left top, #1DC2A1 0%, #ED499B 100%);
	background-image: linear-gradient(to left top, #1DC2A1 0%, #ED499B 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
}

.content .row {
	margin-left: 0;
	margin-right: 0;
}

a:hover {
	text-decoration: none;
}

/* ====== NAVBAR ====== */

.navbar{
	background:transparent;
	font-size: 15px;
	border:none;
	-webkit-transition: background .75s;
	transition: background .75s;
	-webkit-transition-timing-function:ease-in-out;
	transition-timing-function:ease-in-out;
}

.navbar .nav > li > a{
	font-weight:300;
	text-transform: uppercase;
	padding:10px;
}

.progress{
	background-color: rgba(250,250,250,.3);
	border:1px solid white;
	border-radius:0;
	cursor: pointer;
}

#song-progress{
	background-color: rgba(250,250,250,.8);
	box-shadow:none;
	-webkit-box-shadow: none;
}

ul.nav.navbar-nav{
	margin-top: 4px;
	margin-right: 5px;
}

/* ====== CONTENT ====== */

.logo, .logo > a > img{
	-webkit-transition: margin 1s, width 1s, height 1s, top 1s, bottom 1s, left 1s, right 1s;
	transition: margin 1s, width 1s, height 1s, top 1s, bottom 1s, left 1s, right 1s;
	-webkit-transition-timing-function:ease-in-out;
	transition-timing-function:ease-in-out;
}

.logo {
	width:100%;
	display:inline-block;
	float:right;
}

.logo > a > img {
	width: 45%;
	margin:auto;
}

.sidebar {
	width:33.3%;
	float:right;
}

.sidebar > a > img {
	width: 100%;
}

.melk-title {
	font-weight:100;
	text-shadow: 3px 3px 2px rgba(0,0,0,.5);
	font-size:55px;
}

.melk .lead {
	font-weight: 200;
	text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

.melk .question {
	font-weight: 200;
	text-shadow: 1px 1px 2px rgba(0,0,0,.5);
	font-size:20px;
	width:75%;
	margin-top: 55px;
}

.melk .answer {
	font-weight: 200;
	text-shadow: 1px 1px 2px rgba(0,0,0,.5);
	font-size:20px;
	width:85%;
	text-align: right;
	margin-left: 10%;
}

a:focus {
	text-decoration: none;
}

.content { 
	display:none;
	width:66%;
	z-index:10;
	padding: 0 40px 200px 0;
}

/* ====== SLIDER ====== */

.slider {
	position:fixed;
	bottom: 0;
	width:100%;
	z-index:5;
}

.song-thumb-row{
	white-space: nowrap;
	overflow:auto;
	background: #222;
	padding: 0;
	margin: 0;
	height: 180px;
	clear:both;
	overflow-y:hidden;
}

.song-thumb {
	display:inline-block;
	width:175px;
	margin: 0 -4px -5px 0;
	border-top: 5px solid transparent;
	-webkit-transition: border .25s;
	transition: border .25s;
}

.song-thumb.active{
	border-top:5px solid gold;
}

.load-more, .load-previous {
	width:175px;
	display: inline-block;
	text-transform: uppercase;
	margin-bottom:-5px;
}

.load-more h5, .load-previous h5 {
	margin:0;
	font-size: 40px;
	text-align:right;
	padding: 0 10px;
	color: #1DC2A1;
	font-weight: 500;
	-webkit-transition: color .25s;
	transition: color .25s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.load-more h5:hover, .load-previous h5:hover{
	text-decoration: none;
	color: #ED499B;
}

.load-more h5:focus, .load-previous h5:focus{
	text-decoration: none;
}


/* ====== BLOG ====== */
.sidebar .ad {
	margin-top: 100px;
}

.blog-post-container{
	padding-right:40px;
}

.media-body {
	color: #fff;
}

.media-object{
	width: 150px;
	height:auto;
}

.media-heading {
	color: #fff;
	line-height:1.5;
}

.media-body > p > a {
	color: gold;
}

.blog-post-title{
	font-weight:500;
	font-size:30px;
}

.blog-title {
	color: #fff;
	font-size:65px;
	text-shadow: 1px 1px 2px #222;
}

/* ====== ABOUT ====== */
.about {
	color: white;
	padding: 0 40px 0 0;
}

.about img {
	border: 5px solid white;
	max-width:95%;
	margin: auto;
}

.about h2 {
	font-size: 50px;
	font-weight: 400;
	text-shadow: 1px 1px 2px #222;
}

.about h3 {
	font-size:30px;
	font-weight:400;
	text-shadow: 1px 1px 0 #222;
	margin-bottom:-20px;
}

/* ===== BLOG ===== */

.soundcloud-badge{
	display:block;
	text-align:right;
	padding: 0 10px 0 0;
	width: 150px;
	float:right;
	clear:both;
}

.song-info-wrapper {
	position:relative;
	z-index:10;
	white-space: normal;
}

.song-info {
	position:absolute;
	margin-top:-175px;
	width: 175px;
	height: 175px;
	background: rgba(0,0,0,0);
	padding: 0 7px;
	cursor: pointer;
	-webkit-transition: background .25s;
	transition: background .25s;
	overflow:hidden;
}

.song-info:hover {
	background: rgba(0,0,0,.8);
}

.song-info .song-title{
	font-size:25px;
	font-weight:600;
	text-align: right;
	color: #1DC2A1;
	opacity: 0;
	cursor: pointer;
	-webkit-transition: opacity .25s;
	transition: opacity .25s;
}

.song-info .song-artist {
	font-size: 15px;
	font-weight:200;
	text-align: right;
	color: #ED499B;
	opacity: 0;
	cursor: pointer;
	-webkit-transition: opacity .25s;
	transition: opacity .25s;
}

.song-info:hover .song-artist, .song-info:hover .song-title {
	opacity: 1;
}

.mobile-nav {
	display:none;
}

.mobile-player {
	display:none;
}

.mobile-nav > ul > li > a {
	color: white;
}

.mobile-nav > ul > li > a:hover {
	color: white;
}

@media all and (max-width:768px) {
	.mobile-nav{
		display:none;
	}
	.mobile-player {
		display:block;
	}
	body{
		padding-top: 10px;
		padding-bottom: 250px;
	}
	.logo > a > img {
		width: 100%;
	}
	.jan-30 {
		font-size: 14px;
		font-weight:400;
	}
	.jan-30 a{
		color: white;
		opacity: 1;
		line-height: 20px;
		font-weight: 400;
		font-size: 14px;
	}
	.sidebar {
		display: none;
	}
	a.hidden-md, a.hidden-md:hover, a.hidden-md:focus {
		color: white;
		float: right;
		text-transform: uppercase;
	}
	.content {
		width: 100%;
		padding: 0;
	}
	#captain-signature {
		margin-bottom: 50px;
		width:100%;
		max-width: 100%
	}
	.about {
		padding: 0;
	}
	nav {
		display:none;
	}
	.mobile-nav > ul {
		list-style-type: none;
		text-align: center;
		padding:0 0 20px 0;
	}
	.mobile-nav > ul > li {
		display: inline-block;
		width:30%;
		font-size:20px;
		font-weight:300;
	}

	.mobile-player{
		text-align:center;
		margin-left:10px;
		margin-right:10px;
	}

	.mobile-player > .progress {
		margin:auto;
		margin-top:15px;
	}

	.mobile-player > .player-controls > a {
		color:white;
		font-size: 30px;
	}

	.mobile-player .fay-play-default {
		padding:25px;
		vertical-align: middle;
	}

	.mobile-player .glyphicon {
		vertical-align: middle;
		margin-bottom: 30px;
	}

	#mobile-title {
		font-size: 20px;
		font-weight: 600;
	}

	#mobile-artist{
		font-size:20px;
	}

	.song-thumb-row {
		overflow-y: hidden 
	}

	path {
		fill: white !important;
	}
}

#random-link {
	margin: 5px 0 -40px 2px;
	display: block;
	color: white;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	opacity: .6;
	-webkit-transition: opacity .25s;
	transition: opacity .25s;
}

#random-link:hover {
	opacity:1;
}


/*!
turquoise:#2FB59A
pink:#EB4196
*/ 
