<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Booty Call Snapchat | Provo Yacht Club Exclusive</title>
    <meta name="description" content="Booty Call Snapchat by College Knowledge feat. D-Tek available for download and streaming free through Provo Yacht Club">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bcsc.css" rel="stylesheet"> 
  </head>
  <body>
    <div class="pic-fade">
    <div class="container">
      <div class="song-container col-xs-6 col-xs-offset-3">

        <div class="row">
          <div class="song-art text-center">
            <a href="#" class="btn btn-danger btn-lg">
              <span class="glyphicon glyphicon-play"></span>
              <span class="glyphicon glyphicon-pause" style="display:none"></span>
            </a><br/><br/>
            <a href="https://soundcloud.com/andy-mockler/booty-call-snapchat" class="btn btn-primary btn-lg">Free Download!</a>
          </div>
       </div>

      </div>
    </div>
  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://connect.soundcloud.com/sdk-2.0.0.js"></script>
    <script type="text/javascript" src="js/bcsc.js"></script>
  </body>
</html>


<!-- MAKE THAT ONE PAGE FOR HOOKED ON U -->