<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Provo Yacht Club | Great Music Daily, Featuring Provo's Finest Artists</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Include the compiled Ratchet CSS -->
    <link href="/mobile/css/ratchet.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>


    <!-- Include the compiled Ratchet JS -->
    <script src="mobile/js/ratchet.js"></script>
  </head>
  <body>

    <!-- Make sure all your bars are the first things in your <body> -->


    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content entrance">

      <img src="provo_yacht_club2.png" style="width:100%; margin-top:10%"/>

      <div class="content-padded">
        <h1 class="entrance-text">New Music. Everyday.</h1><br/>
        <h4 class="entrance-text">Everyone deserves good music. Enter to listen to something fresh everyday.</h4><br/>
        <a href="/" class="btn btn-block btn-outlined" style="color:white">Let's Get Started</a>
      </div>

    </div>

  </body>
</html>