<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>THE LIST | Provo Yacht Club</title>

		<meta property="og:image" content="assets/251.jpeg">
		<link rel="img_src" href="assets/251.jpeg">

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/int/list.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div id="cover-image"></div>
		<div id="overlay"></div>
		<% if @full == false %>
		<h1 class="text-center">Get on the List</h1>
		<h3 class="text-center">Saturday March 21 @ 10:00PM</h3>
		<h3 class="text-center">Provo, Utah</h3>
		<p class="small text-center"`><%= @count %>/150 Spots Already Taken</p>

		<section class="container">
			<div class="row">
				<div class="form col-md-4 col-md-offset-4">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" name="name">
					<p class="text-danger error" id="name-error"></p>
					<br>
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" name="email">
					<p class="text-danger error" id="email-error"></p>
					<p>Please enter a valid email address. We will email you the day of the party with the address of the venue.</p>
					<br>
					<button class="btn btn-default btn-block" id="submit">Submit</button>
				</div>
			</div>
		</section>
		<% else %>
		<h2 class="text-center">Sorry, the List is already full :(</h2>
		<section class="container">
			<div class="row">
				<div class="form col-md-4 col-md-offset-4">
					<a href="/" class="btn btn-default btn-block" id="submit">Return to Provo Yacht Club</a>
				</div>
			</div>
		</section>
		<% end %>

		<div id="pyc-logo">
			<img src="assets/provo_yacht_club2.png" alt="">
		</div>

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
		    		<div class="modal-header">
		    			<h4 class="modal-title" id="myModalLabel">Congratulations</h4>
		    		</div>
		    		<div class="modal-body">
		        		<p>You're on the list. Check your email inbox on Friday for the location of the event.</p>
		        		<a href="/">Return to Provo Yacht Club</a>
		    		</div>
		    	</div>
			</div>
		</div>

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="js/int/list.js"></script>
	</body>
</html>