<div class="melk about">
	<div class="row">
		<div class="col-xs-12">
			<a href="/" class="visible-xs-block hidden-md">Home</a>

			<h1 class="melk-title">House of Melk Interview</h1>

			<p class="lead">The captain is pleased to welcome aboard House of Melk, his first featured guest DJs for Friday, January 30 at Provo Yacht Club Part Deux along with resident DJs Codon, Killawatts, and Party Panda.</p>
			<p>The minds behind House of Melk have been pushing dance music in Utah Valley for years now. They were the masterminds behind Grindhood - one of The Captain's favorite movements of the late-2000s electro scene. Today, Ryan Senior and Blake Lewis sat down with The Captain to talk a bit more about House of Melk ahead of the DJ Duo's featured set.</p>

			<img src="assets/house-of-melk.jpeg" class="img-responsive"><br>
			
			<p class="question">First off, give us a little intro - tell us a little bit about who and what House of Melk is.</p>
			<p class="answer">House of Melk is a collaborative project that we put together as friends to try and display things we like to do and create.</p>

			<p class="question">How did House of Melk come to be?</p>
			<p class="answer">Our friend wants to start a dairy farm and call it MELK. He translated MELK into a clothing brand idea and since then the idea has evolved into our collaborative project.</p>

			<p class="question">What first got you into DJing?</p>
			<p class="answer">We wanted to express our interest in music and creativity through mixing.</p>

			<p class="question">Yacht or sailboat?</p>
			<p class="answer">Sailboat.</p>

			<p class="question">Whole, 2%, 1%, or skim melk?</p>
			<p class="answer">1% melk.</p>

			<p class="question">What is the best night you've ever DJed?</p>
			<p class="answer">We have friends that hosted a dance called PromComing that was meant to simulate the experience of Prom. It was the first time someone had invited us to feature and also our first time Duo-DJing. It just felt good.</p>

			<p class="question">What are your favorite tracks at the moment?</p>
			<p class="answer">
				<iframe width="100%" height="166" src="//www.youtube.com/embed/2wcIWQRlypw" frameborder="0" allowfullscreen></iframe>
				<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/173684917&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
				<iframe width="100%" height="166" src="//www.youtube.com/embed/-JRKfF5NBfw" frameborder="0" allowfullscreen></iframe>
			</p>

			<p class="question">Why did The Captain choose to feature you at Provo Yacht Club Part Deux?</p>
			<p class="answer">Our goal is not to play the "same ole thang." We play familiar music while also introducing new music.</p>

			<p class="question">What can people expect from your featured set at Part Deux?</p>
			<p class="answer">Our music selection will range from House to Disco to Funk and Hip-Hop.</p>

			<p class="question">What is your current outlook on dance music and where do you see it going?</p>
			<p class="answer">Dance music is different everwhere. It;s hard to pinpoint where dance will be or where we'd hope it to be but we think it would be important for people to find something they like and roll with it.</p>

			<p class="question">Don't miss House of Melk at Provo Yacht Club Part Deux. 9:00PM, Friday, January 30, 2015.</p>

			<img src="assets/PYC_Signature_White.png" class="img-responsive center-block" id="captain-signature">
		</div>
	</div>
</div>
