<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PYC The list</title>
<body style="font-family:Arial; color:#222; text-align:center">
	<h1 style="margin-bottom:2px">THE LIST</h1>
	<h3 style="color:#777">Congrats, you made it. Here's what you need to know:</h3>
	<p>
		<b>LOCATION</b> <br />
		Pho Plus <br />
		68 W Center St <br /> 
		Provo, UT 84601
	</p>
	<p>
		<b>FEATURING</b><br />
		<table style="margin:auto;">
			<thead>
				<tr>
					<th style="width:175px;">Main Floor</td>
					<th style="width:175px;">Lounge</td>
				</tr>
			</thead>
			<tbody>			
				<tr>
					<td style="">ELVDR</td>
					<td>Party Panda</td>
				</tr>
				<tr>
					<td style="">Codon</td>
					<td>Ryan (House of Melk)</td>
				</tr>
			</tbody>
		</table>
		<br />
		Free drinks in the lounge all night
	</p>
	<p>
		<b>ALL GUESTS GET A PLUS ONE</b> <br />
		Party starts at 10:00. Be early.
	</p>
	<p>
		See you there!
	</p>
</body>