<div class="row">
	<div class="col-xs-12 blog-post-container" data-batch="1">
		<h1 class="blog-title">The Blog</h1>
		<%= erb :'Index/blog/blog_post' %>
		<a href="#" class="btn btn-default pull-right load-more-posts">Load More Posts...</a>
	</div>
</div>

<script>
	function setPaddingBottom() {
    	height = $('.holds-all-the-guts').height();
    	$('.blog-post-container').css('padding-bottom', height+20 + 'px');
	}
	setPaddingBottom();
	$(window).on("resize", setPaddingBottom);
</script>